*{ box-sizing: border-box; }
:root{ 
    font-size: 62.5%; 
    --nav-main-width:25rem; 
    --purple1:#494C83; 
    --white:#FFF;
}
html, body{ margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; font-size: 1.4rem; line-height: normal; letter-spacing: 0.5px; overflow-x: hidden; }
.wire, .wire *{ border:1px dotted #F00; }

main{ display:grid; width: 100vw; min-height: 100vh; grid-template-columns: var(--nav-main-width) 1fr; grid-template-rows: 1fr; }
navbar-comp{ background: var(--purple1); color:var(--white); padding:1.6rem; font-size: 1.6rem; }
navbar-comp .menu{ margin:0; padding:0; list-style: none; margin:20px 0 0; }
navbar-comp .menu-item{ padding:0.5rem 0; }