*{ box-sizing: border-box; }
:root{ 
    font-size: 62.5%; 
    --nav-main-width:30rem;
    --color-white:#FFF;
    --color-red1:#ff3e00;
    --color-blue1:#268bce;
    --color-purple-1: #6f6f7a;
    --color-purple-1-dark: #484855;
    --color-yellow-1: #ffbe0f;
    --color-gray-dark-1:#444;
    --color-gray-clear-1:#EEE;
    --color-green-1:#00b300;
}
html, body{ margin:0; padding:0; color:var(--color-gray-dark-1); font-family: roboto, sans-serif; font-size: 1.4rem; letter-spacing: 0.5px; line-height: 2rem; overflow-x: hidden; }
iframe{ border:1px solid var(--color-gray-clear-1); display: block; width: 100%; }
li{ margin:0.5rem 0; }
p{margin:1rem 0; }
a{ color:#FFF; }
pre{ border-radius: 0.5rem; }
.title-1{ font-size: 4rem; margin:0; }
.title-2{ font-size: 2.5rem; margin:0; }
.title-3{ font-size: 2rem; margin:0; }
.title-4{ font-size: 1.8rem; margin:0; }
.link-clear{ color:var(--color-white); text-decoration: none; cursor: pointer; }
.wire, .wire *{ border:1px dotted #F00; }
.separator-1, .separator-h{ margin:2rem 0; border: none; height: 0; border-bottom: 1px solid #AAA; }
.separator-v{ width:0; border-right: 1px solid #aaa; height: 3rem; margin:0 1rem; }
.disabled{ opacity: 0.3 !important; pointer-events: none; }
.button-alpha{ cursor: pointer; text-decoration: none; transition: 0.3s opacity; }
    .button-alpha:hover{ opacity: 0.7; }
.code{ width:100%; padding:1rem; resize:none; height:9rem; background:#1d1e22; color:#FFF; border:none; border-radius: 5px; }
.tag{ display: inline-block; padding:0.2rem 0.5rem; border-radius: 0.3rem; background: var(--color-gray-clear-1); color:var(--color-gray-dark-1); border:1px solid #ccc; box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.1); }
.tag-white{ background: var(--color-white); color:var(--color-gray-dark-1); }
.tag-green{ background: var(--color-green-1); color:var(--color-white); border:none; }
.tag-yellow{ background: var(--color-yellow-1); color:var(--color-gray-dark-1); border:none; }
.tag-blue{ background: var(--color-blue1); color:var(--color-white); border:none; }
.button-1{ border: none; background: #268bce; color:#FFF; padding:0.7rem 1rem; text-transform: uppercase; margin:0 0.2rem; border-radius: 0.3rem; }

.main-section{ display:block; padding: 2rem 2rem 2rem calc(var(--nav-main-width) + 2rem); }
bar-top{ transition: 0.2s; padding:0 0.2rem; position:fixed; display: none; justify-content: space-between; align-items: center; left:0; top:0; right:0; height:4.3rem; background: var(--color-white); box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.2); }
navbar-comp{ transition: 0.2s; width: var(--nav-main-width); position: fixed;  top:0; left:0; bottom:0; background: var(--color-purple-1); color:var(--color-white); padding:2rem; font-size: 1.6rem; box-shadow: 0.1rem 0 0.5rem rgba(0,0,0,0.2); }
.open-menu navbar-comp{ left:0; }
.open-menu bar-top{ top:-4.3rem; }

.menu{ padding:0; list-style: none; margin:4rem 0 0; font-weight: 300; }
.menu-item{ transition: 0.3s opacity; opacity: 0.6;  border-bottom: 1px solid rgba(255,255,255,0.3); position: relative; user-select: none; }
.menu-item:hover{ opacity: 1; }
.menu-item.selected{  opacity: 1; }
.menu-item-link{ text-decoration: none; display: grid; grid-template-columns: 3rem auto; grid-template-rows: auto; grid-template-areas: "icon text";  color:var(--color-white); cursor: pointer; padding:1.3rem 0.8rem; }
.menu-item-underline{ transition: 0.3s width; position: absolute; left:0; bottom:-1px; width: 0%; height: 0; border-bottom: 1px solid #FFF; }
.menu-item.selected .menu-item-underline{ width:100%; }
.menu-item-clear{ color:#FFF; text-decoration: none; }

.message{ padding:2rem; background:#EEE; border-radius: 5px; box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.2); border:4px solid #FFF; }
.message_icon{ margin:0 10px 0 0; }
.message_red{ background: var(--color-red1); color:var(--color-white); }
.message_blue{ background: var(--color-blue1); color:var(--color-white); }
.message_purple{ background: var(--color-purple-1); color:var(--color-white); }
.message_yellow{ background: var(--color-yellow-1); color:var(--color-gray-dark-1); }

.grid-cards{ display: grid; grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); gap:1rem; }
.grid_title_2_columns{ display: grid; column-gap:2rem; row-gap:1.4rem; grid-template-columns: 50rem minmax(0, 1fr); grid-template-rows: auto auto; grid-template-areas: "title title" "left right"; }
.grid_title_1_column{ display: grid; column-gap:5rem; row-gap:1.4rem; grid-template-columns: 1fr; grid-template-rows: auto auto; grid-template-areas: "title" "content"; }

.mt-0{ margin-top:0; } .ml-0{ margin-left:0; } .mr-0{ margin-right:0; } .mb-0{ margin-bottom:0; }
.mt-5{ margin-top:0.5rem; } .ml-5{ margin-left:0.5rem; } .mr-5{ margin-right:0.5rem; } .mb-5{ margin-bottom:0.5rem; }
.mt-10{ margin-top:1rem; } .ml-10{ margin-left:1rem; } .mr-10{ margin-right:1rem; } .mb-10{ margin-bottom:1rem; }
.mt-20{ margin-top:2rem; } .ml-20{ margin-left:2rem; } .mr-20{ margin-right:1rem; } .mb-20{ margin-bottom:2rem; }

.table-1{ width:100%; border-collapse: collapse; border-radius: 0.5rem; overflow: hidden; font-size: 1.4rem; }
.table-1 th{ font-size: 1.3rem; text-align: left; text-transform: uppercase; padding:1rem 1.2rem; color:#767676; background: var(--color-blue1); color: var(--color-white); border: 0.01rem solid #DADDE1; }
.table-1 td{ padding:1rem 1.2rem; border: 0.01rem solid #DADDE1; color:#333; }
.table-1 tr:nth-child(even) {background: var(--color-gray-clear-1); }


@media (max-width:1400px){
    .grid_title_2_columns{ grid-template-columns: auto; grid-template-rows: auto auto auto; grid-template-areas: " title" "left" "right"; }
}

@media (max-width:1000px){
    .main-section{ padding:1rem; margin-top:4.3rem; }
    navbar-comp{ left:calc(var(--nav-main-width) * -1)}
    bar-top{ display: flex; }
}

@media (max-width:500px){
    .grid-cards{ grid-template-columns: 1fr; }
}