*{ box-sizing: border-box; }
:root{ 
    font-size: 62.5%; 
    --nav-main-width:27rem; 
    --color-purple1:#494ca2; 
    --color-white1:#FFF;
    --color-red1:#ff3e00;
    --color-blue1:#268bce;
    --color-purple1: #676778;
    --color-yellow: #ffbe0f;
    --color-gray:#444;
}
html, body{ margin:0; padding:0; color:var(--color-gray); font-family: Arial, Helvetica, sans-serif; font-size: 1.4rem; line-height: normal; letter-spacing: 0.5px; line-height: 2rem; overflow-x: hidden; }
iframe{ border:none; display: block; width: 100%; }
.title1{ font-size: 4rem; font-size: 600; margin:0; }
.title2{ font-size: 2.5rem; font-size: 600; margin:0; }
.title3{ font-size: 2rem; font-size: 600; margin:0; }
.title4{ font-size: 1.8rem; font-size: 600; margin:0; }
.link-clear{ color:var(--color-white1); text-decoration: none; cursor: pointer; }
.m-t-5{ margin-top:0.5rem; } .m-l-5{ margin-left:0.5rem; } .m-r-5{ margin-right:0.5rem; } .m-b-5{ margin-bottom:0.5rem; }
.m-t-10{ margin-top:1rem; } .m-l-10{ margin-left:1rem; } .m-r-10{ margin-right:1rem; } .m-b-10{ margin-bottom:1rem; }
.m-t-20{ margin-top:2rem; } .m-l-20{ margin-left:2rem; } .m-r-20{ margin-right:1rem; } .m-b-20{ margin-bottom:2rem; }
.wire, .wire *{ border:1px dotted #F00; }
.separator1{ margin:2rem 0; border: none; height: 0; border-bottom: 1px solid #AAA; }
.disabled{ opacity: 0.4; pointer-events: none; }
.button-alpha{ cursor: pointer; text-decoration: none; transition: 0.3s opacity; }
    .button-alpha:hover{ opacity: 0.7; }
.CodeMirror{ margin:20px 0; padding:10px 0; height: auto !important; }
li{ margin:0.5rem 0;}
p{margin:1prem 0;}

app-comp{ display:grid; width: 100vw; min-height: 100vh; grid-template-columns: var(--nav-main-width) 1fr; grid-template-rows: 1fr; }
navbar-comp{ background: var(--color-purple1); color:var(--color-white1); padding:2rem; font-size: 1.6rem; }

.menu{ padding:0; list-style: none; margin:4rem 0 0; font-weight: 300; }
.menu-item{ transition: 0.3s opacity; opacity: 0.6;  border-bottom: 1px solid rgba(255,255,255,0.3); position: relative; user-select: none; }
.menu-item:hover{ opacity: 1; }
.menu-item.selected{  opacity: 1; }
.menu-item-link{ text-decoration: none; display: block; color:var(--color-white1); cursor: pointer; padding:1.3rem 0.8rem; }
.menu-item-underline{ transition: 0.3s width; position: absolute; left:0; bottom:-1; width: 0%; height: 0; border-bottom: 1px solid #FFF; }
.menu-item.selected .menu-item-underline{ width:100%; }
.menu-item-clear{ color:#FFF; text-decoration: none; }

.message{ padding:2rem; background:#EEE; border-radius: 5px; }
.message_icon{ margin:0 10px 0 0; }
.message_red{ background: var(--color-red1); color:var(--color-white1); }
.message_blue{ background: var(--color-blue1); color:var(--color-white1); }
.message_purple{ background: var(--color-purple1); color:var(--color-white1); }
.message_yellow{ background: var(--color-yellow); color:var(--color-gray); }

.grid-cards{ display: grid; grid-template-columns: repeat(3, 1fr); gap:1rem; }
.grid_title_2_columns{ display: grid; column-gap:5rem; row-gap:1.4rem; grid-template-columns: 50rem 1fr; grid-template-rows: auto auto; grid-template-areas: "title title" "left right"; }